<?xml version="1.0"?>
<config>
    <modules>
        <Valibus_Stockreboot>
            <version>0.1.0</version>
        </Valibus_Stockreboot>
    </modules>
    <global>
        <helpers>
            <valibus_stockreboot>
                <class>Valibus_Stockreboot_Helper</class>
            </valibus_stockreboot>
        </helpers>
        <models>
            <valibus_stockreboot>
                <class>Valibus_Stockreboot_Model</class>
            </valibus_stockreboot>
        </models>
        <events>
            <catalog_product_save_after>
                <observers>
                    <valibus_stockreboot_observer>
                        <type>singleton</type>
                        <class>valibus_stockreboot/observer</class>
                        <method>reinit</method>
                    </valibus_stockreboot_observer>
                </observers>
            </catalog_product_save_after>
        </events>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Valibus_Stockreboot>
                    <files>
                        <default>Valibus_Stockreboot.csv</default>
                    </files>
                </Valibus_Stockreboot>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <cataloginventory>
            <options>
                <autoreset>1</autoreset>
            </options>
        </cataloginventory>
    </default>
</config>